@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: black;
}

body {
  height: 100%;
  width: 100vh;
  background-color: black;
  color: limegreen;
}
h1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
